/*Primer porcentaje es quitar saturacion (que se vea mas vivo o no)*/
/*Segundo porcentaje es hacer que se acerque mas a negro o blanco*/
/*ctrl+H*/
:root{
    --hue:43;
    --principal: hsl (var(--hue) 89% 38% / 1);
    --secundario: hsl(var(--hue) 89% 30% / 1);
    --resalto: hsl(223 89% 60% / 1);
    --negro: hsl(var(--hue) 89% 38% / 1);
    --blanco: hsl(var(--hue) 89% 38% / 1);
    --gris: hsl(var(--hue) 50% 50% / 1);
}

* {
    box-sizing: border-box;
}


body{
    color:#222;
    font-family: 'Outfit', sans-serif;
    margin: 5%;
    font-size: 16px;
}

img{
    max-width: 100%;
}


/*Tipografía*/
p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
}

h1, .h1 {
  margin-top: 0;
  font-size: 3.052rem;
  color:#444;
}

h2, .h2{font-size: 2.441rem;}

h3, .h3 {font-size: 1.953rem;}

h4, .h4 {font-size: 1.563rem;}

h5, .h5{font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}


/*Componentes*/

/* Menu */
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li{
    display: inline-block;
}

/*Botones*/
.button{
    padding: 16px;
    border: 2px solid var(--gris);
    text-decoration: none;
    cursor:pointer;
    
}

i{
    margin-right:16px;
}

/*Cards */
a,.m-color{
    color:var(--principal);
    text-decoration: none;
}

.card{
    border:2px solid #b8860b;
}

.primera_tarjeta{
    padding: 16px;
}
.primera_tarjeta h4,
.primera_tarjeta p,
.primera_tarjeta a,
.primera_tarjeta button{
    margin-bottom: 16px;
}


/* Header */
#comprar{
    position: relative;
    padding: 16px;
    border: 6px solid var(--principal);
    background-color: var(--resalto);
    

}
#comprar span{
    position: absolute;
    top:0px;
    right:0px;
}



.rating{
    color:grey;
}

/* Nav */
#navegacion{
    display:flex;
    text-decoration: none;
}
#navegacion .col_izq,
#navegacion .con_der{
    width:40%;
    
}

#navegacion .col_der .menu{
    text-align: right;

}


/*Helper*/
.container{
    max-width: 992px;
    margin: 0 auto; /*Primero vertical y segundo horizontal*/
}

.m-color{
    color:#b8860b;
}







